.container-fluid{
	max-width: 1200px !important;
}

.image-responsive{
	max-width: 100% !important;
}

header{
	background: #353535 !important;
	color: white !important;
}

header a{
	margin: 0 auto;
	display: block;
}

body{
	background: #353535;
}

.container-fluid{
	background: white;
}

.terminal{
	background: #353535;
	color: white;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.terminal code{
	background: transparent !important;
	color: white !important;
	margin-left: 15px !important;
}

.row{
	margin: 25px auto;
}

.btn{
	margin: 15px;
}

.btn-primary{
	border: 1px solid hsla(175, 100%, 35%, 1) !important;
	background: linear-gradient( to bottom, hsla(175, 100%, 45%, 1), hsla(175, 100%, 40%, 1), hsla(175, 100%, 35%, 1)) !important;
}

.btn-primary:hover{
	border: 1px solid hsla(175, 100%, 40%, 1) !important;
	background: linear-gradient( to bottom, hsla(175, 100%, 50%, 1), hsla(175, 100%, 45%, 1), hsla(175, 100%, 40%, 1)) !important;
}

.btn .fa{
	margin-right: 5px;
}

code em{
	background: rgba(255,255,255,0.2);
}
